@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --bs-dark-rgb: 0, 0, 0; /* change these values to your preferred RGB color */
}

.navbar {
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.navbar .dropdown-toggle {
  font-size: 14px;
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 400;
}

.small-margin{
  margin-left: 25pt;
  margin-right: 25pt;
}

.navbar-nav > .active > a {
  color: white;
  font-weight: 500;
}

/* .navbar-brand {
  font-family: 'Inter', sans-serif;
} */

#brandingTextNav {
    padding-left: 5px;
    letter-spacing: 1px;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
}
