$theme-colors: (
        "info": #580f8b /* Change to your preferred color */
);

$primary: #580F8B;

@import "~bootstrap/scss/bootstrap";

// Change focus ring color of bootstrap


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.root {
  height: 100%;
  overflow: hidden;
}

.cmr-root{
  min-height: 100vh;
  background-color: #f8fafc;
  position: relative;
  overflow: hidden;
}
.page-root {
  background-color: #f8fafc;
}

p {
  margin-top: unset !important;
  margin-bottom: unset !important;
}