#reconstruction-label{
  color: #580F8B
}

#replica-count-label{
  color: #580F8B
}

#snr-label{
  color: #580F8B
}

.MuiDataGrid-columnHeaderTitleContainerContent{
  width: 100% !important;
}

.geometry-grid {
  display: grid;
  grid-template-columns: repeat(2, 0.42fr);
  column-gap: 130px !important;
  grid-gap: 8pt;
  grid-auto-rows: minmax(50px, auto);
  margin-bottom: 4pt;
}